<div class="password-main-field">
  <div class="password-field">
    <label for="pswrd" class="password-label"> Password: </label>
    <input
      id="pswrd"
      type="{{ inputType }}"
      (input)="setPassword($event)"
      class="password-input"
    />
    <button (click)="showPassword()" class="show-password">Show</button>
  </div>
  <div class="strength-bar">
    <div
      class="strength-bar-level"
      [ngClass]="{
        'red-bar':
          passwordStrength === 'light' || passwordStrength === 'notEnoughChars',
        'yellow-bar': passwordStrength === 'mid',
        'green-bar': passwordStrength === 'strong'
      }"
    ></div>
    <div
      class="strength-bar-level middle"
      [ngClass]="{
        'red-bar': passwordStrength === 'notEnoughChars',
        'yellow-bar': passwordStrength === 'mid',
        'green-bar': passwordStrength === 'strong'
      }"
    ></div>
    <div
      class="strength-bar-level"
      [ngClass]="{
        'red-bar': passwordStrength === 'notEnoughChars',
        'green-bar': passwordStrength === 'strong'
      }"
    ></div>
  </div>
</div>
