@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

::selection {
  color: #000;
  background: #fff;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #244ba7;
  color: #fff;
}
